---
import BlogPost from '../../layouts/BlogPost.astro'
import { Content } from '../../content/blog/posts/SW_Reflection_1.md'
import * as post from '../../content/blog/posts/SW_Reflection_1.md'
---

<BlogPost frontmatter={post.frontmatter}>
    <p><Content/></p>
</BlogPost>