---
import '../styles/global.css'
import Head from '../components/Head.astro';
import Headline from "../components/Headline.astro";
import EntriesPage from '../layouts/EntriesPage.astro';
import ContentWrapper from "../components/ContentWrapper.astro";
import SmallNavigation from '../components/SmallNavigation.astro';

import { getCollection } from 'astro:content'
---
<style>
	h1 {
		margin-bottom: 5px;
		margin-top:0px;
	}
</style>
<html lang="en">
<Head title="contact"></Head>
	<body>
		<Headline title={"CONTACT"}></Headline>
		<SmallNavigation page="contact" showBack={false} showHome showAdventures showBlog></SmallNavigation>
		<ContentWrapper>
			<p>it's me!</p>
		</ContentWrapper>
	</body>
</html>