---
import '../styles/global.css'
import ContentWrapper from "../components/ContentWrapper.astro";
import Headline from "../components/Headline.astro";
import { getCollection } from 'astro:content'
import SmallNavigation from '../components/SmallNavigation.astro';
import EntriesPage from '../layouts/EntriesPage.astro';
---
<style>
	h1 {
		margin-bottom: 5px;
		margin-top:0px;
	}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Headline title={"CONTACT"}></Headline>
		<SmallNavigation page="contact" showBack={false} showHome showAdventures showBlog></SmallNavigation>
		<ContentWrapper>
			<p>it's me!</p>
		</ContentWrapper>
	</body>
</html>