---
import '../styles/global.css'
import Head from '../components/Head.astro';
import Headline from '../components/Headline.astro';
import Navigation from '../components/Navigation.astro';
---
<style>
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}
	p {
		font-family: 'Maname';
		text-align: center;
		padding-top: 1px;
		padding-bottom: 1px;
	}
</style>

<html lang="en">
	<Head></Head>
	<body>
		<div>
			<Headline subtitle='a collection of ttrpg oddities by john bean'></Headline>
			<Navigation></Navigation>
		</div>
	</body>
</html>
