---
import '../styles/global.css'
import Headline from '../components/Headline.astro';
import Navigation from '../components/Navigation.astro';
---
<style>
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}
	p {
		font-family: 'Maname';
		text-align: center;
		padding-top: 1px;
		padding-bottom: 1px;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div>
			<Headline subtitle='a collection of ttrpg oddities by john bean'></Headline>
			<Navigation></Navigation>
		</div>
	</body>
</html>
