---
import '../styles/global.css';
---
<style>
    div {border-style: solid; border-color: var(--highlight-color); padding: 5%; border-width: 2px; margin: }
</style>
<div id="content-wrapper">
    <slot />
</div>