---
import '../styles/global.css'

const {showBack=true, showHome=false, showBlog=false, showAdventures=false, showContact=false, page} = Astro.props;

const backLinkMap = new Map<string, string>();
backLinkMap.set("blog", "../");
backLinkMap.set("adventures", "../");
backLinkMap.set("contact", "../");
backLinkMap.set("a-post", "../");
backLinkMap.set("b-post", "../");
---
<style>
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-height:min-content;
        margin-top: 0em;
        padding-top: 0px;
        flex-wrap: wrap;
    }
    h1, h3 {
        min-width: 25px;
        text-align: center;
    }
</style>
<div>
    {showBack && <h2 id="blog-post-nav"><a href={backLinkMap.get(page)}><span style="font-family: Chapbook;">C </span>back</a></h2> <h3 id="blog-post-nav">/</h3>}
    {showHome && <h2 id="blog-post-nav"><a href="../"><span style="font-family: Chapbook;">c </span>home</a></h2>}
    {showBlog && <h3 id="blog-post-nav">/</h3> <h2 id="blog-post-nav"><a href="../blog"><span style="font-family: Chapbook;">V </span>blog</a></h2>}
    {showAdventures && <h3 id="blog-post-nav">/</h3> <h2 id="blog-post-nav"><a href="../adventures"><span style="font-family: Chapbook;">N </span>adventures</a></h2>}
    {showContact && <h3 id="blog-post-nav">/</h3> <h2 id="blog-post-nav"><a href="../contact"><span style="font-family: Chapbook;">L </span>contact</a></h2>}
</div>