---
import '../styles/global.css'
import Head from '../components/Head.astro';
import ContentWrapper from "../components/ContentWrapper.astro";
import SmallPostNavigation from '../components/SmallNavigation.astro';
const { frontmatter } = Astro.props;
---
<html lang="en">
<Head title={frontmatter.title}></Head>
	<body>
        <ContentWrapper>
			<div style="display: flex; flex-direction: row; justify-content: space-between; 
			margin-top: 0px; align-items: center;">
				<h1>{frontmatter.title}</h1>
				<SmallPostNavigation page="b-post" showHome></SmallPostNavigation>
			</div>
            <slot />
            <p>published to SCHISTOSTEGA on: {frontmatter.date}</p>
        </ContentWrapper>
	</body>
</html>
