---
import '../styles/global.css'
import ContentWrapper from "../components/ContentWrapper.astro";
import SmallPostNavigation from '../components/SmallNavigation.astro';
const { frontmatter } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <ContentWrapper>
			<div style="display: flex; flex-direction: row; justify-content: space-between; 
			margin-top: 0px; align-items: center;">
				<h1>{frontmatter.title}</h1>
				<SmallPostNavigation page="b-post" showHome></SmallPostNavigation>
			</div>
            <slot />
            <p>Written on: {frontmatter.date}</p>
        </ContentWrapper>
	</body>
</html>
